#createAccountButton {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.slide-in-form {
    position: fixed;
    top: 0;
    right: -100%;
    transition: right 0.4s ease-in-out;
    background-color: #6c824f; /* A slightly softer green */
    padding: 30px;
    width: 350px;
    height: 100%;
    z-index: 999;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    color: #ffffff; /* White text for contrast */
}

.slide-in-form form {
    margin-top: 20px;
}

.slide-in-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.slide-in-form input {
    margin-bottom: 15px;
    border: 1px solid rgba(108, 130, 79, 0.5);
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    box-sizing: border-box;
    font-size: 16px;
}

.slide-in-form input:focus {
    border: 1px solid #6C824F;
    box-shadow: 0 0 5px rgba(108, 130, 79, 0.5);
    outline: none;
}

#closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    background-color: #DA0606;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#closeButton:hover {
    background-color: #FF4500;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 998;
    display: none;
}

#loginButton {
    display: inline-block;
    outline: none;
    border-width: 0px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    transition: background 0.1s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
    background: #223123;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    vertical-align: middle;
    width: auto;
    color: #ffffff;
}

#loginButton:hover {
    background: #324632;
    text-decoration: inherit;
    color: #ffffff;
}
